#hangman-starter-img {
  width: 250px;
}

.letter,
.empty-space {
  border-bottom: 3px solid black;
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.empty-space {
  border-bottom: none !important;
}

#player-letter-mobile {
  text-align: center;
}

#player-letters-label{
  font-size: 2rem;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: white;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.result-img {
  width: 200px;
  height: 150px;
}

#hangman-exit-btn,
#hangman-newgame-btn{
  width:130px;
}
