#index-throne {
    width: 300px;
    height: auto;
}

#index-got {
    width: 200px;
    height: auto;
}

.index-card {
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 0.5rem;
    margin: auto;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 300px;
    padding: 0 4px;
}

.index-card h4 {
    color: white;
}

.index-card h3{
    font-weight: bolder;
    text-shadow: var(--gold-text-border-thin);
}

#card-quizes,
#card-games {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#card-quizes {
    background-image: url('../img/index/got-card-quizes.png');
}

#card-games {
    background-image: url('../img/index/got-card-games.png');
}

.index-card-icon {
    margin: 0.5rem 0 0.5rem 0;
    width: 100px;
    height: 100px;
}

.buttons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 50%;
    margin: auto;
}

.my-btns {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

#index-sorting-btn{
    font-weight: bolder;
    color: var(--golden);
    width: 300px;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
    vertical-align: middle !important;
    box-shadow: var(--card-shadow);
}

#got-westeros-crest {
    width: 350px;
}