#memorygame-footer {
    margin-top: 4.5rem;
}

/* Memory Game - Starter Layout */

#memorygame-starter-img {
    width: 250px;
}

#memorygame-levels-div,
#memorygame-levels-div select {
    font-size: 25px;
    text-align: center;
}

/* Memory Game - Player Layout */

#memorygame-timer {
    font-weight: bold;
    font-size: 1.5rem !important;
}

#memorycards-container {
    width: 50%;
}

.cards-column {
    flex: 16.6%;
    max-width: 16.6%;
    padding: 0 4px;
}

.cards-img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
    cursor: pointer;
}

.cards-show {
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* Memory Game - Result Layout */

#memorygame-newgame-btn,
#memorygame-exit-btn {
    margin: 0 0.2rem 0 0.2rem;
}

.final-result-img {
    width: 250px;
    height: 200px;
}

.game-results-item {
    font-weight: bold;
    margin-top: 0.5rem;
}

/* Memory Game - Result Layout - Houses1 Images in Circle => Source/inspiration : https://jsfiddle.net/skwidbreth/q59s90oy/ */

.circle-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.circle-list-item {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin-left: -2rem;
    transition: 0.3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(45%);
}

.circle-list-item:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.circle-list-item img {
    height: auto;
    width: 60px;
}

/* Memory Game - Result Layout - Houses Modal => Source/inspiration : https://www.w3schools.com/howto/howto_css_modal_images.asp */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.95); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 280px;
    background-color: transparent !important;
    border: transparent;
}

.modal-caption {
    margin: 1rem auto 1rem auto;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
}

.modal-content, 
.modal-caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}