/* CSS for Quiz & Sorting Pages */

/* Quizes with common elements with Sorting */

#quiz-starter-img {
    width: 500px;
}

.white-card {
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.quiz-card{
    width: 500px;
}

.got-icon {
    width: 160px;
}

#quiz-container,
#sorting-container{
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
}

.quiz-container,
.answer-label,
.quiz-btns button,
.correct-answer,
.wrong-answer,
.quiz-question {
    font-weight: bold;
}

.quiz-question{
    font-size: var(--h4-custom);
}

.answer-label {
    display:inline;
    font-size: var(--h4-custom);
}

input[type=checkbox] {
    vertical-align: middle;
    display:inline-block;
}
.quiz-btns{
    padding-left: 0 !important;
}

.quiz-btns button{
    width: 180px;
}

.correct-answer{
    color: green;
}

.wrong-answer{
    color:red;
}

/* Sorting */

.sorting-result-img{
    width: 140px;
    margin: 0 0.5rem 0.5rem;
}

.sorting-card{
    width: 400px;
    height: 420px;
    display: flex;
    margin: 1rem auto 1rem auto;
    align-items:center;
    justify-content:center;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5rem 0 0.5rem;
}

#sorting-playagain-btn{
    font-size: 1.6rem;
}

#caption-percentage-sorting{
    font-size: 35px !important;
    color: rgba(0,0,0,0.95);
    font-weight: bolder;
    text-shadow: var(--gold-text-border-thin);
}